@using DataModels.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    if ((User?.IsInRole("Administrator") ?? false) && (User?.IsInRole("Client") ?? false))
    {
        <div class="card col-4" style="width: 20rem; margin-bottom:100px; Left: 90%">
            <a class="btn btn-sm btn-warning" asp-controller="TrainerApplication" asp-action="ApplicationFormForTrainers">Wanna be Trainer? Join Us Now!</a>
        </div>
    }
    else if ((User?.IsInRole("Client") ?? false) && (User?.IsInRole("Trainer") == false))
    {
        <div class="card col-4" style="width: 20rem; margin-bottom:100px; Left: 90%">
            <a class="btn btn-sm btn-warning" asp-controller="TrainerApplication" asp-action="ApplicationFormForTrainers">Wanna be Trainer? Join Us Now!</a>
        </div>
    }
    else
    {
        <div class="card col-4" style="width: 20rem; margin-bottom:100px; Left: 90%">
            <a class="btn btn-sm btn-warning">You are a Trainer!</a>
            <br>
            <a class="btn btn-sm btn-info" asp-controller="Client" asp-action="CheckYourClients" style='font-size:20px'>Check Your Clients! <i class='far fa-handshake'></i></a>
        </div>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*Icon Source:https://www.w3schools.com/icons/tryit.asp?icon=fas_fa-handshake&unicon=f2b5 *@
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
