@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
   What is a workplace policy?
A workplace policy is any rule or guideline in a professional setting that defines appropriate conduct or best practices. Workplace policies commonly address topics such as health and safety, peer or customer interactions and hiring. The policies that an employer puts in place tend to align with their organizational goals and the kind of workplace culture they wish to establish. They establish an organization's norms and the expectations of the senior management.

Many policies are in place to comply with state or federal regulations. There are, for example, workers' compensation laws that require employers to have insurance to cover the health care costs of employees injured on the job. Employers typically include a description of their workers' compensation policy in their employment contracts and employee manual. Other workplace policies, commonly known as company policies or codes of conduct, are specific to employers or at least common within industries without being required by law.
</p>

@*Example of work policy: https://www.indeed.com/career-advice/career-development/workplace-policy-examples*@
