@{
    ViewBag.Title = "Setting Roles";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <form id="account" method="post">
        <hr />
        <h4>Add New Gym to the System</h4>
        <div class="text-center mb-3">
             <input class="btn btn-success" asp-controller="Admin"  asp-action="AddGymToSystem" type="submit" value="Add Gym" />
        </div>
    </form>
     <form id="account" method="post">
        <hr />
        <h4>Add New Trainer to the System</h4>
        <div class="text-center mb-3">
             <input class="btn btn-success" asp-controller="Admin"  asp-action="AddTrainerToSystem" type="submit" value="Add Trainer" />
        </div>
    </form>
     <form id="account" method="post">
         <hr />
        <h4>Add Role To a User</h4>
         <div class="text-center mb-3">
              <input class="btn btn-warning" asp-controller="Admin"  asp-action="RoleToUser" type="submit" value="Add Role to User" />
         </div>
    </form>
</div>