@using DataModels.Models
@model ExerciseViewModel

<h2 class="text-center">@Model.Name</h2>
<hr />

<div class="text-center row">
        <img class="card-img-top" style="width: 18rem;"
             src="@Model.ImageUrl" alt="Exercise Image">
        <div class="card-body">
            <hr />
            <text>@Model.Description</text>
        </div>
</div>