@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Something Went Wrong!</h1>
<h2 class="text-danger">Dear User, an error occurred while processing your request.</h2>

<h3>Something is not right. Please get back to main page through the ProjectDefence button in upper Left</h3>
<p>
    <strong>If this continues happening please reach out our Support Team on -  <strong class="text-danger">admin@mail.com</strong> </strong>
</p>
