<h1>400 Bad Request</h1>
<p>Something went wrong! Be sure that you this action is allowed!</p>
<div>
    <a asp-controller="Home" asp-action="Index" class="fs-6 btn btn-danger mb-3 p-2">Return to Home</a>
</div>